/* Global Styles */
body {
  font-family: 'San Francisco', sans-serif;
  background-color: #f5f5f7; /* light grey similar to Apple Notes */
  color: #333;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  overflow: hidden; /* Disable all scrolls */
  height: 100vh; /* Ensure the body takes up the full viewport height */
}

/* Dark Mode */
body.dark-mode {
  background-color: #1c1c1e;
  color: #f9f9f9;
}

body.dark-mode .note-navbar {
  background-color: #2c2c2e;
}

body.dark-mode .sidebar {
  background-color: #1c1c1e;
  color: #f9f9f9;
}

body.dark-mode .notes-section {
  background-color: #1c1c1e;
  color: #f9f9f9;
}

body.dark-mode .note-input,
body.dark-mode .note-title-input,
body.dark-mode .note-title {
  color: #f9f9f9;
}

body.dark-mode .note-item {
  background-color: #2c2c2e;
  color: #f9f9f9;
}

body.dark-mode .note-item:hover {
  background-color: #3a3a3c;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08), 0 8px 20px rgba(255, 255, 255, 0.1);
}

body.dark-mode .note-header {
  border-bottom: 1px solid #444;
}

body.dark-mode .note-tag {
  color: #ffffff;
}

body.dark-mode .delete-btn {
  color: #ffd52e;
}

body.dark-mode .delete-btn:hover {
  color: #c0392b;
}

body.dark-mode .search-input {
  background-color: #5d5d5d80;
  color: #f9f9f9;
}

/* Home Container */
.home-container {
  display: flex;
  height: 100vh; /* Ensure the container takes the full viewport height */
  flex-direction: row; /* Sidebar on the left */
}

/* Sidebar */
.sidebar {
  background-color: #ffffff;
  padding: 20px;
  width: 25%;
  min-width: 200px;
  max-width: 400px;
  resize: horizontal; /* Enable resizable sidebar */
  overflow-y: auto; /* Allow vertical scrolling within sidebar */
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar.hidden {
  transform: translateX(-100%); /* Move the sidebar off-screen */
  display: none; /* Hide sidebar */
}

.sidebar.visible {
  transform: translateX(0); /* Keep sidebar visible */
  overflow: hidden;
}

/* Notes Section */
.notes-section {
  flex-grow: 1;
  background-color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 250px); /* Default width minus sidebar */
  transition: width 0.5s ease, background-color 0.3s, box-shadow 0.3s;
  overflow: hidden; /* Prevent overflow */
}

.notes-section.expanded {
  width: 100%; /* Expand to full width when sidebar is hidden */
}

/* Search Input with Icon Container */
.search-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 35%;
  transform: translateY(-50%);
  color: #888; /* Adjust icon color */
}

.search-input {
  width: 100%;
  padding: 8px 8px 8px 36px; /* Add left padding for the icon */
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: rgb(245, 245, 247);
  color: #333;
}


.note-navbar {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Ensure it takes up the full width */
  background-color: rgb(245, 245, 247);
}

.navbar-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffd52e;
  font-size: 1.2em;
  transition: color 0.3s;
  padding: 10px;
}

.navbar-btn:hover {
  color: #ffe785; /* Lighter yellow on hover */
}

.note-input {
  width: 100%;
  height: calc(100% - 60px); /* Full height minus some padding for title and margins */
  padding: 15px;
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: inherit; /* Inherit panel's background */
  color: inherit; /* Inherit panel's text color */
  resize: none; /* Disable resizing */
  margin-left: 2%;
  margin-right: 2%;
}

.note-title-input {
  width: 100%;
  height: 40px;
  font-size: 1.5em;
  border: none; /* Remove border */
  outline: none; /* Remove outline */
  background-color: inherit;
  color: inherit;
  margin: 3%;
  font-weight: 600;
}

.notes-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Note item styling */
.note-item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  padding: 10px;
  border: 0.5px solid #97979766;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; /* For positioning delete button */
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Styling for selected note */
.selected-note {
  background-color: #eec521; /* Highlight selected note */
  color: #fff;
  border: 1px solid #d8d8d8;
}

.selected-note .note-title,
.selected-note .note-date,
.selected-note .note-tag ,
.selected-note .delete-btn{
  color: #ffffff; /* White text when selected */
}


/* Ensure hover does not override selected note */
.note-item:hover:not(.selected-note) {
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Title, tag, and date layout */
.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; /* Space between title and date */
}

.note-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.note-tag {
  font-size: 0.9rem;
  color: #272727;
  border-radius: 4px;
  font-weight: 400;
}

.note-date {
  font-size: 0.8rem;
  color: #aaa;
}

.delete-btn {
  background: none;
  border: none;
  color: #ffd52e;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #c0392b;
}

.note-item:hover {
  border-radius: 10px;
}

/* No Notes Message */
.no-notes-message {
  color: #888;
  font-size: 1em;
  text-align: center;
}

.list-title {
  color: #000000;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
}

/* Layout adjustments for responsiveness */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    height: 100vh; /* Ensure it takes up the full viewport height */
  }

  .sidebar {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    overflow-y: auto;
  }

  .notes-section {
    width: 100%;
    height: auto;
    box-sizing: border-box;
  }

  .note-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .navbar-btn {
    margin: 0 5px;
  }
}
